*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style: none; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  box-sizing: inherit;
  background-color: rgba(255, 255, 255, 0.5); }

body {
  font-family: "Commissioner", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 400; }

.heading-1 {
  font-size: calc(1.6rem + 1.2vw);
  font-weight: 700; }

.heading-2 {
  font-size: calc(1.6rem + 1vw);
  font-weight: 600; }

.heading-3 {
  font-size: calc(1.6rem + 0.8vw); }

.paragraph {
  color: #7a7a7a; }

.mt-sm {
  margin-top: 1.2rem; }

.mt-md {
  margin-top: 2.5rem; }

.mt-lg {
  margin-top: 3.5rem; }

.mt-hg {
  margin-top: 5rem; }

.btn {
  border: none;
  padding: 1.5rem 3.5rem;
  border-radius: 3rem;
  color: #fff;
  font-weight: 600;
  font-size: 1.7rem;
  cursor: pointer;
  transition: background-color 0.2s; }
  .btn:focus {
    outline: none; }
  .btn--product {
    background: #147b74; }
    .btn--product:hover {
      background: rgba(22, 141, 133, 0.979); }
  .btn--bookmark {
    position: relative;
    padding-left: 5rem;
    color: #7a7a7a;
    background: #f1e9e9;
    display: flex;
    align-items: center; }
  .btn--bookmarked {
    color: #147b74;
    background: rgba(20, 123, 116, 0.13); }

.header {
  height: 50vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../images/image-hero-desktop.jpg") no-repeat center;
  background-size: cover; }

.navigation {
  padding: 3rem 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .navigation__list {
    display: flex;
    align-items: center; }
    .navigation__list--item:not(:last-of-type) {
      padding-right: 3rem; }
    .navigation__list--link:link, .navigation__list--link:visited {
      font-size: 1.8rem;
      font-weight: 600;
      text-decoration: none;
      color: #fff;
      transition: color 0.2s; }
    .navigation__list--link:hover {
      color: #3cb4ac; }

.main {
  display: grid;
  place-items: center; }

.container {
  position: relative;
  background-color: #fff;
  border: 1px solid rgba(122, 122, 122, 0.2);
  border-radius: 1rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  padding: 5rem;
  text-align: center; }

.product {
  padding: 0 5rem 5rem;
  transform: translateY(-8rem); }
  .product__logo-box {
    position: absolute;
    top: -3rem;
    left: 45%; }
  .product__btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .product--icon {
    width: 5rem;
    height: 5rem;
    fill: #7a7a7a;
    position: absolute;
    left: -1rem; }
