*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  background-color: rgba(255, 255, 255, 0.5); }

body {
  font-family: "Commissioner", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  font-weight: 400; }

.heading-1 {
  font-size: 3rem;
  font-weight: 700; }

.heading-2 {
  font-size: 2.6rem;
  font-weight: 600; }

.heading-3 {
  font-size: 2rem;
  font-weight: 600; }

.heading-4 {
  font-size: 1.8rem;
  font-weight: 600; }

.paragraph {
  color: #7a7a7a; }

.mt-sm {
  margin-top: 1.5rem; }

.mt-md {
  margin-top: 2.5rem; }

.mt-lg {
  margin-top: 3.5rem; }

.mt-hg {
  margin-top: 5rem; }

.btn {
  border: none;
  padding: 1.5rem 3.5rem;
  border-radius: 3rem;
  color: #fff;
  font-weight: 600;
  font-size: 1.7rem;
  cursor: pointer;
  transition: background-color 0.2s; }
  .btn:focus {
    outline: none; }
  .btn--product {
    background: #147b74; }
    .btn--product:hover {
      background: rgba(22, 141, 133, 0.979); }
  .btn--bookmark {
    position: relative;
    padding-left: 5rem;
    color: #7a7a7a;
    background: #f1e9e9;
    display: flex;
    align-items: center; }
  .btn--bookmarked {
    color: #147b74;
    background: rgba(20, 123, 116, 0.13); }
  .btn--bamboo-stand {
    background: #147b74; }
  .btn--black-edition {
    background: #3cb4ac; }
  .btn--out-of-stock {
    background: rgba(122, 122, 122, 0.664); }
  .btn--success {
    background: #147b74; }
    .btn--success:hover {
      background: #3cb4ac; }
  .btn--select, .btn--pledge {
    cursor: pointer; }
  .btn--select {
    border: 0.5px solid rgba(122, 122, 122, 0.342);
    background: transparent;
    border-radius: 50%;
    padding: 0.5rem;
    display: grid;
    place-items: center;
    justify-self: center; }

.modal__success, .modal__project {
  background: #fff;
  border-radius: 1rem;
  width: 100%;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  padding: 5rem;
  position: fixed;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%); }

.modal__success {
  top: 70%;
  max-width: 45rem;
  text-align: center;
  visibility: hidden;
  transform: scale(0); }
  .modal__success--icon {
    width: 6rem;
    height: 6rem; }

.modal--overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  transition: 0.2s ease-in-out;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 5;
  opacity: 0; }

.modal__project {
  top: 50%;
  max-width: 70rem; }

.modal__box {
  grid-template-columns: min-content 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 1rem; }
  .modal__box p {
    grid-column: 2 / 3; }

.header {
  height: 50vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../images/image-hero-desktop.jpg") no-repeat center;
  background-size: cover; }

.navigation {
  padding: 3rem 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .navigation__list {
    display: flex;
    align-items: center; }
    .navigation__list--item:not(:last-of-type) {
      padding-right: 3rem; }
    .navigation__list--link:link, .navigation__list--link:visited {
      font-size: 1.8rem;
      font-weight: 600;
      text-decoration: none;
      color: #fff;
      transition: color 0.2s; }
    .navigation__list--link:hover {
      color: #3cb4ac; }

.main {
  display: grid;
  place-items: center;
  padding: 0 5rem 5rem; }

.container {
  position: relative;
  max-width: 70rem;
  width: 100%;
  background-color: #fff;
  border: 1px solid rgba(122, 122, 122, 0.2);
  border-radius: 1rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  padding: 5rem; }

.box,
.modal__box {
  border: 0.5px solid rgba(122, 122, 122, 0.2);
  border-radius: 1rem;
  padding: 3rem;
  display: grid; }

.box {
  grid-template-columns: repeat(2, 1fr); }

.product {
  text-align: center;
  transform: translateY(-8rem); }
  .product__logo-box {
    position: absolute;
    top: -3rem;
    left: 45%; }
  .product__btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .product--icon {
    width: 5rem;
    height: 5rem;
    fill: #7a7a7a;
    position: absolute;
    left: -1rem; }

.data {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  text-align: left;
  margin: -5rem 0 3rem 0; }
  .data span {
    color: #7a7a7a; }
  .data__amount, .data__backers {
    border-right: 0.5px solid rgba(122, 122, 122, 0.719); }

.about--paragraph {
  grid-column: 1 / -1; }

.about__btn--box {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.about--pledge {
  color: #3cb4ac;
  font-weight: 600;
  justify-self: end; }

.about--left {
  font-size: 2.5rem;
  font-weight: 700;
  display: flex;
  align-items: center; }
  .about--left span {
    font-size: 1.6rem;
    font-weight: 400;
    color: #7a7a7a;
    margin-left: 1rem; }
