.navigation {
  padding: 3rem 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: 32em) {
    position: relative;
    z-index: 10;
    padding: 3rem;
  }

  &__icon-menu-open,
  &__icon-menu-close {
    width: 3rem;
    height: 3rem;
    display: none;
    cursor: pointer;
  }

  &__icon-menu-open {
    @media only screen and (max-width: 32em) {
      display: block;
    }
  }

  &__list {
    display: flex;
    align-items: center;

    @media only screen and (max-width: 32em) {
      background-color: #fff;
      width: 80%;
      border-radius: 0.5rem;
      flex-direction: column;
      align-items: flex-start;
      position: absolute;
      bottom: -26rem;
      left: 10%;
      z-index: 10;
      transition: transform 0.3s;

      // This will hide the  menu
      visibility: hidden;
      transform: scale(0);
    }

    &--item {
      &:not(:last-of-type) {
        padding-right: 3rem;

        @media only screen and (max-width: 32em) {
          border-bottom: 1px solid rgba(122, 122, 122, 0.335);
        }
      }
      @media only screen and (max-width: 32em) {
        padding: 3rem;
        width: 100%;
      }
    }

    &--link:link,
    &--link:visited {
      font-size: 1.8rem;
      font-weight: 600;
      text-decoration: none;
      color: #fff;
      transition: color 0.2s;

      @media only screen and (max-width: 32em) {
        color: #000;
      }
    }

    &--link:hover {
      color: hsl(176, 50%, 47%);
    }
  }

  &--active {
    visibility: visible;
    transform: scale(1);
  }
}
