.btn {
  border: none;
  padding: 1.5rem 3.5rem;
  border-radius: 3rem;
  color: #fff;
  font-weight: 600;
  font-size: 1.7rem;
  cursor: pointer;
  transition: background-color 0.2s;

  &:focus {
    outline: none;
  }

  &--product {
    background: hsl(176, 72%, 28%);

    &:hover {
      background: hsla(176, 73%, 32%, 0.979);
    }
  }

  &--bookmark {
    position: relative;
    padding-left: 5rem;
    color: hsl(0, 0%, 48%);
    background: rgb(241, 233, 233);
    display: flex;
    align-items: center;
  }

  &--bookmarked {
    color: hsl(176, 72%, 28%);
    background: hsla(176, 72%, 28%, 0.13);
  }

  &--bamboo-stand {
    background: hsl(176, 72%, 28%);
  }

  &--black-edition {
    background: hsl(176, 50%, 47%);
  }

  &--out-of-stock {
    background: hsla(0, 0%, 48%, 0.664);
  }

  &--success {
    background: hsl(176, 72%, 28%);

    &:hover {
      background: hsl(176, 50%, 47%);
    }
  }
}
