.btn {
  border: none;
  padding: 1.5rem 3.5rem;
  border-radius: 3rem;
  color: #fff;
  font-weight: 600;
  font-size: 1.7rem;
  cursor: pointer;
  transition: background-color 0.2s;

  @media only screen and (max-width: 30em) {
    padding: 1rem 2.5rem;
    font-size: 1.5rem;
  }

  &:focus,
  &--radio:focus {
    outline: none;
  }

  &--green {
    background: hsl(176, 72%, 28%);

    &:hover {
      background: hsla(176, 73%, 32%, 0.979);
    }
  }

  &--cyan {
    background: hsl(176, 50%, 47%);

    &:hover {
      background: hsla(176, 73%, 32%, 0.979);
    }
  }

  &--disabled {
    background: hsla(0, 0%, 48%, 0.664);
    cursor: not-allowed;
  }

  &--bookmark {
    position: relative;
    padding-left: 5rem;
    color: hsl(0, 0%, 48%);
    background: rgb(241, 233, 233);
    display: flex;
    align-items: center;

    @media only screen and (max-width: 32em) {
      margin-top: 2rem;
    }
  }

  &--close {
    background: none;
    border: none;
    cursor: pointer;
  }

  &--select,
  &--pledge {
    cursor: pointer;
  }

  &--select:focus,
  &--pledge:focus {
    outline: none;
  }

  &--select {
    position: relative;
    border: 0.5px solid hsla(0, 0%, 48%, 0.342);
    background: transparent;
    border-radius: 100%;
    width: 2.2rem;
    height: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--radio {
    opacity: 0;
    cursor: pointer;
  }

  &--radio:checked + span {
    width: 1.1rem;
    height: 1.1rem;
    border-radius: 100%;
    background-color: hsl(176, 50%, 47%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  // Javascript classes
  &--bookmarked {
    color: hsl(176, 72%, 28%);
    background: hsla(176, 72%, 28%, 0.13);
  }
}
