.modal {
  &__success,
  &__project {
    background: #fff;
    border-radius: 1rem;
    width: 100%;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
    padding: 3rem;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10;
    transition: all 0.3s;
    // This will hide modal
    visibility: hidden;
    transform: translate(-50%, -50%) scale(0);
  }

  &__success {
    max-width: 45rem;
    text-align: center;
    visibility: hidden;

    &--icon {
      width: 6rem;
      height: 6rem;
    }
  }

  &--overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    transition: 0.2s ease-in-out;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 5;
    // This will hide overlay
    opacity: 0;
  }

  &__project {
    max-width: 70rem;

    @media only screen and (max-width: 40em) {
      max-width: 55rem;
    }

    &--header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__box {
    padding: 2rem;
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    grid-column-gap: 2rem;
    grid-row-gap: 0.5rem;

    p {
      grid-column: 2 / 3;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__pledge {
    grid-column: 1 / -1;
    border-top: 1.8px solid hsla(0, 0%, 48%, 0.2);
    padding: 2rem;
    justify-content: space-between;
    // This will hide pledge section
    display: none;

    &--text,
    &--amount {
      font-size: 1.6rem;
      font-family: inherit;
      border: none;
      color: hsl(0, 0%, 48%);

      &:focus {
        outline: none;
      }
    }

    &--box {
      display: flex;
      align-items: center;
    }

    &--amount {
      width: 6rem;
      margin: 0 1.3rem;
    }
  }

  &--disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  // Javascript classes to activate modals
  &__pledge--active {
    display: flex;
  }

  &--active {
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
  }

  &--overlay-active {
    opacity: 1;
    pointer-events: all;
  }
}
