.modal {
  &__success,
  &__project {
    background: #fff;
    border-radius: 1rem;
    width: 100%;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
    padding: 5rem;
    position: fixed;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
  }

  &__success {
    top: 70%;
    max-width: 45rem;
    text-align: center;
    // This will hide modal
    visibility: hidden;
    transform: scale(0);

    &--icon {
      width: 6rem;
      height: 6rem;
    }
  }

  &--overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    transition: 0.2s ease-in-out;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 5;
    // This will hide overlay
    opacity: 0;
  }

  &__project {
    top: 50%;
    max-width: 70rem;
  }

  &__box {
    grid-template-columns: min-content 1fr;
    align-items: center;
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;

    p {
      grid-column: 2 / 3;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  // JavaScript classes
  &__box--active &__box {
    border: 0.3rem solid hsl(176, 72%, 28%);
  }
}
