body {
  font-family: "Commissioner", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 400;
}

.heading-1 {
  font-size: calc(1.6rem + 1.2vw);
  font-weight: 700;
}

.heading-2 {
  font-size: calc(1.6rem + 1vw);
  font-weight: 600;
}

.heading-3 {
  font-size: calc(1.6rem + 0.8vw);
}

.heading-4 {
}

.paragraph {
  color: hsl(0, 0%, 48%);
}
