body {
  font-family: "Commissioner", sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
  font-weight: 400;
}

.heading-1 {
  font-size: 3rem;
  font-weight: 700;
}

.heading-2 {
  font-size: 2.6rem;
  font-weight: 600;
}

.heading-3 {
  font-size: 2rem;
  font-weight: 600;
}

.heading-4 {
  font-size: 1.8rem;
  font-weight: 600;
}

.paragraph {
  color: hsl(0, 0%, 48%);
  line-height: 1.6;
}
