.mt-exsm {
  margin-top: 1.1rem;
}
.mt-sm {
  margin-top: 1.5rem;
}

.mt-md {
  margin-top: 2.5rem;
}

.mt-lg {
  margin-top: 3.5rem;
}

.mt-hg {
  margin-top: 5rem;
}

.ml-sm {
  margin-left: 1.5rem;
}
