.main {
  display: grid;
  place-items: center;
  padding: 0 5rem 5rem;
}

// Container for all
.container {
  position: relative;
  max-width: 70rem;
  width: 100%;
  background-color: #fff;
  border: 1px solid hsla(0, 0%, 48%, 0.2);
  border-radius: 1rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  padding: 5rem;
}

// Box and modal-box for all
.box,
.modal__container {
  border: 1.8px solid hsla(0, 0%, 48%, 0.2);
  border-radius: 1rem;
}

.box {
  display: grid;
  padding: 3rem;
  grid-template-columns: repeat(2, 1fr);
}

// Product Section
.product {
  text-align: center;
  transform: translateY(-8rem);

  &__logo-box {
    position: absolute;
    top: -3rem;
    left: 45%;
  }

  &__btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &--icon {
    width: 5rem;
    height: 5rem;
    fill: hsl(0, 0%, 48%);
    position: absolute;
    left: -1rem;
  }
}

// Data section
.data {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  text-align: left;
  margin: -5rem 0 3rem 0;

  span {
    color: hsl(0, 0%, 48%);
  }

  &__amount,
  &__backers {
    border-right: 0.5px solid hsla(0, 0%, 48%, 0.719);
  }

  &__progress,
  &__progress--done {
    height: 1.6rem;
    border-radius: 1rem;
  }

  &__progress {
    grid-column: 1 / -1;
    width: 100%;
    background-color: #eee9e9;

    &--done {
      width: 70%;
      background-color: hsl(176, 50%, 47%);
    }
  }
}

// About section
.about {
  &--paragraph {
    grid-column: 1 / -1;
  }

  &__btn--box {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &--pledge {
    color: hsl(176, 50%, 47%);
    font-weight: 600;
    justify-self: end;
  }

  &--left {
    font-size: 2.5rem;
    font-weight: 700;
    display: flex;
    align-items: center;

    span {
      font-size: 1.6rem;
      font-weight: 400;
      color: hsl(0, 0%, 48%);
      margin-left: 1rem;
    }
  }
}

// JavaScript classe to activate border
.modal__box--active {
  border: 1.8px solid hsl(176, 72%, 28%);
}
